.container{
    width :400px;
    margin:8px auto;
    background:rgb(242, 243, 174);
    border-radius:4px;
    padding :16px;
    position:relative;
    text-align: center;
}
#title{font-size:30px;
    font-weight: bold;
    box-shadow: inset;
    border-radius: 4px;
    cursor:pointer;
    background-color:white;
    padding:8px;
    }
#choice{
margin-bottom: 20px;
margin-right: 10px;
padding:30px 30px;
font-size:10px;
}

 #btn{font-size:20px;
    margin-bottom: 20px;
    margin-right: 10px;
    
}
#subTitle{font-size:20px;
    font-weight: bold;}



